body {
    background-color: #6c5f5b;
    margin: 0;
}

.mainBox {
    position: relative;
}

.header {
    display: flex;
    vertical-align: middle;
    width: 100vw;
    height: 8vh;
    background: #ed7d31;
    align-items: center;
    position: absolute;
}

.menuButtImg {
    background-image: url("/app/src/main/assets/images/menubutton.png");
    background-size: 100%;
    width: 3vw;
    height: 3vw;
    margin-right: 10vw;
    margin-left: 5vw;
    background-color: #ed7d31;
    border: none;
}

.navBarName {
    font-size: 1.3em;
    font-family: Impact, Charcoal, sans-serif;
}

.menu {
    height: 50vh;
    width: 10vw;
    padding: 20vh;
    position: fixed;
    background-color: rgb(142, 185, 185);
    z-index: 100;
    left: -30vw;
    transition: 1s;
    position: absolute;
}

/* .menuButtImg:active .menu {
    left: -1vw;
    transition: 1s;
} */
