@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
    background-color: #363636;
    margin: 0;
}

.mainBox {
    margin-bottom: 30px;
}

.header {
    position: relative;
    width: 100vw;
    height: 60px;
    background: #ed7d31;
}

.navBarName {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 17px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}

.container {
    text-align: center;
}

.parBox {
    margin-left: 22px;
    margin-right: 22px;
    text-align: left;
}

.subjectTitle {
    margin-top: 30px;
    text-align: center;
    color: rgb(59, 235, 80);
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-shadow: 0.3px 0.3px rgb(103, 223, 97);
}

.subDefinitions {
    color: white;
    margin-top: 25px;
    font-size: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.nonDispUpBonusPar ~ .subDefinitions {
    margin-bottom: 0;
}

.bonusInfo {
    font-size: 12px;
    margin-top: 6px;
    color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

.exampleImg {
    border-radius: 5px;
    border: 1.5px solid #efa574;
}

#rootImgExample {
    display: block;
    margin: auto;
    width: 180px;
}

.theoryBox {
    margin-top: 30px;
    background-color: #76a90057;
    border: 1.5px solid #76a900;
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 14px;
    text-align: left;
}

.theoryNameBox {
    color: white;
    font-size: 15px;
    background-color: #76a900;
    width: fit-content;
    height: min-content;
    border-bottom-right-radius: 3px;
}

.theoryLabel {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin-top: 0;
    font-family: monospace;
}

.theory {
    font-size: 13px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.allFormulaImg {
    margin: 20px 14px 0;
    width: 230px;
    border-radius: 5px;
    border: 1.5px solid white;
}

.markedTheoryText {
    font-weight: 900;
    color: rgb(235, 192, 180);
}

.mainParSections {
    width: fit-content;
    color: white;
    font-family: Arial, Helvetica, monospace;
    font-size: 19px;
    text-shadow: 0.3px 0.3px rgb(113, 236, 128);
    opacity: 0.9;
    font-weight: 600;
    padding: 2px 4px;
    background-color: #a4d55a7c;
    box-shadow:
        0 0 3px #a4d55a7c,
        0 0 8px #a4d55a7c,
        0 0 18px #a4d55a7c,
        0 0 28px #a4d55a7c;
    border-radius: 4.5px;
    opacity: 0.9;
    margin-top: 35px;
}

.subDefinitionsExample {
    margin-top: 0;
    font-size: 16px;
}

.secondExampleImg {
    width: 70px;
}

.subDefinitionsExampleAfterImg {
    display: inline-block;
}

.rootsTask1Img {
    width: 36px;
}
.rootsTask2Img {
    width: 55px;
}
.rootsTask3Img {
    width: 75px;
}
.rootsTask4Img {
    width: 66px;
}
.rootsTask5Img {
    width: 55px;
}
.rootsTask6Img {
    width: 65px;
}

.taskText {
    margin-top: 0;
}

.findTaskSolutLabel {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 17px;
}

.answersLabel {
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.rootsAnswBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin-top: 3px;
}

.rootsTaskSotution {
    color: white;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, monospace;
    width: fit-content;
    padding: 5px 7px;
    border: 2px solid #76a9004b;
    border-radius: 4.5px;
    box-shadow:
        0 0 0.5px #a4d55a51,
        0 0 1px #a4d55a4b,
        0 0 2px #a4d55a4d,
        0 0 3px #a4d55a43;
}

.subjectTitle2 {
    margin-top: 45px;
}

.subParTitle {
    margin-top: 35px;
    color: rgba(59, 235, 80, 0.799);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px rgba(235, 242, 235, 0.882);
}

#arithmeticSequanceMainExample {
    display: block;
    margin: auto;
    width: 220px;
}

.sub {
    font-style: normal;
    vertical-align: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.subInDefins {
    font-size: 12px; 
    vertical-align: -0.35em;
}

.subInTheory {
    font-size: 9px; 
    vertical-align: -0.25em;
}

#secondSubDifExampl {
    margin-top: 10px;
}

#formula1ArithSeqImg {
    width: 160px;
    margin-top: 15px;
}

.formula1ArithSeqExpl {
    margin-top: 15px;
}

#formula2ArithSeqImg {
    width: 190px;
}

#formula3ArithSeqImg {
    width: 150px;
}

#formula4ArithSeqImg {
    width: 320px;
}

#formula5ArithSeqImg {
    width: 190px;
}

#task1ArithSeqImg {
    width: 120px;
    margin-top: 10px;
}

.taskText {
    margin-top: 20px;
}

.sequanceAnswBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin-top: 3px;
}