@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #363636;
    margin: 0;
}

.header {
    display: flex;
    vertical-align: middle;
    width: 100vw;
    height: 8vh;
    background: #ed7d31;
    align-content: center;
    /* margin-top: 0; */
}

.navBarName {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 17px;
    width: fit-content;
    height: fit-content;
}

.container {
    text-align: center;
}

.par1Box {
    margin-left: 22px;
    margin-right: 22px;
    text-align: left;
}

.subjectTitle {
    text-align: center;
    color: rgb(59, 235, 80);
    font-size: 21px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-shadow: 0.3px 0.3px rgb(103, 223, 97);
}

.subDefinitions {
    color: white;
    margin-top: 35px;
    font-size: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.nonDispUpBonusPar ~ .subDefinitions {
    margin-bottom: 0;
}

.bonusInfo {
    font-size: 12px;
    margin-top: 6px;
    color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

.exampleImg {
    border-radius: 5px;
    border: 1.5px solid #efa574;
}

#rootImgExample {
    display: block;
    margin: auto;
    width: 180px;
}

.theoryBox {
    margin-top: 30px;
    background-color: #76a90057;
    border: 1.5px solid #76a900;
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 14px;
}

.theoryNameBox {
    color: white;
    font-size: 15px;
    background-color: #76a900;
    width: fit-content;
    height: min-content;
    border-bottom-right-radius: 3px;
}

.theoryLabel {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin-top: 0;
    font-family: monospace;
}

.theory {
    font-size: 13px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.allFormulaImg {
    margin: 20px 14px 0;
    width: 230px;
    border-radius: 5px;
    border: 1.5px solid white;
}

.markedTheoryText {
    font-weight: 900;
    color: rgb(235, 192, 180);
}

.forExampleLabel {
    color: white;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    text-shadow: 0.3px 0.3px rgb(113, 236, 128);
    opacity: .9;
    font-weight: 600;
}

.subDefinitionsExample {
    margin-top: 0;
    font-size: 16px;
}

.secondExampleImg {
    width: 70px;

}

.subDefinitionsExampleAfterImg {
    display: inline-block;
}

